{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
   {% include "blog/partials/header.html" %}

    <main class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>Proyecto final · Curso de Python con Django</p>
    </footer>
</body>
</html>
